#chessboard .white-square { background: var(--white-square); }
#chessboard .black-square { background: var(--black-square); }

.chess-theme-normal { --white-square: #b0b0b0; --black-square: #606060; }
.chess-theme-light { --white-square: #f0d9b5; --black-square: #b58863; }
.chess-theme-neon { --white-square: #0ff; --black-square: #05f; }
.chess-theme-arthur_wermont{--white-square: rgb(255, 251, 0); --black-square: rgb(255, 166, 0);}
.chess-theme-vivi{--white-square: rgb(236, 234, 108); --black-square: rgb(255, 255, 255);}
.chess-theme-shrek{--white-square: rgb(108, 166, 90); --black-square: rgb(102, 51, 0);}
.chess-theme-ryan{--white-square: rgb(11, 189, 159); --black-square: rgb(38, 202, 101);}
.chess-theme-lumberjack{--white-square: rgb(255, 0, 0); --black-square: rgb(0, 0, 0);}